<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" >
        {{ form.csrf_token }}
        {{ form.first_name.label }} {{ form.first_name() }} <br>
        {{ form.last_name.label }} {{ form.last_name() }} <br>
        <input type="submit" value="update user info">
    </form>
</body>
</html>